@model Team7_StationeryStore.Models.Employee
@{
    Employee emp = (Employee)ViewData["Employee"];
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>

    <header>
        <ul>
            <li class="logo">Logic <span>Stationery</span></li>
            <li> <button class="menubtn" href="#inventory">Inventory</li>
            <li> <button class="menubtn" href="#requisitions">Requisitions</button></li>
            <li>
                <p class="userdetails">@emp.Name</p> <img src="~/lib/img/employeeicon.jpg">
                <button onclick="myFunction()"><img src="~/lib/img/notification.png" /></button>
            </li>

        </ul>



    </header>

    @*Notification *@
    <div class="noti-container">
        <div id="myDIV">
            <table>
                <tbody class="table-body-noti-detail"></tbody>
            </table>
        </div>
    </div>
    <div class="app" style="padding-left:50px">
        <div style="float:left;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    <div class="card" style="width: 20rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name:@emp.Name</li>
                            <li class="list-group-item">Role:@emp.Role</li>
                            <li class="list-group-item">Dept name:@emp.Departments.DeptName</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div align=center>
                <img src="" class="img-rounded">

            </div>
        </div>
    </div>
    <div style="float:center;margin-left:100px;">
        <div align=center>
            <h2>Stationery Store</h2>
            <div class="list group">

                <a class="btn btn-outline-primary btn-lg" asp-controller="Department" asp-action="viewCatalogue">VIEW CATALOGUE</a>
                <br />
                @if (emp.Role != Role.DEPT_HEAD)
                {
                    <a class="btn btn-outline-primary btn-lg" asp-controller="Department" asp-action="viewRequisitionList">VIEW MY REQUISITION HISTORY</a>
                    <br />
                }

                @if (emp.Role == Role.DEPT_HEAD)
                {
                    <a class="btn btn-outline-primary btn-lg" asp-controller="Department" asp-action="viewDepartmentRequisition">VIEW DEPARTMENT REQUISITION</a>
                    <br />
                    <a class="btn btn-outline-primary btn-lg" asp-controller="Department" asp-action="delegateAuthority">DELEGATE AUTHORITY</a>
                    @*                    <form method="POST">
                <button value="View" class="btn btn-outline-primary" formaction="/Department/viewDeptartmentRequisition/">View Pending Requisitions</button>
            </form>
                    *@
                }
                <br>
            </div>
        </div>
    </div>
</body>

<script>
    function myFunction() {
        console.log("hello myfunction");
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $.ajax({
            url: "/Department/getLatestNotifications",
            method: "POST",
            dataType: 'json',
            success: function (response) {
                $('.table-body-noti-detail').html("");
                var today = new Date();
                var count = response.length;
                console.log("count is" + count);
                for (const item of response) {
                    $('.table-body-noti-detail').append(`<tr><td><button onclick="clickDetail('${item.reqId}')">${item.Name} sends new requisition at ${item.date}</button></td></tr>`)
                 }
            }
        });
    }
</script>
<script>
    function clickDetail(id) {
        console.log("detail id" + id);
        $.ajax({
            url: "/Department/viewNewRequisition",
            method: "POST",
            data: { reqId: id },
            success: function () {
                window.location.href = "/Department/viewNewRequisition?reqId="+id;
            }
        });
    }
</script>

<script>
    function clickMe() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $.ajax({
            url: "/Department/getLatestNotifications",
            method: "POST",
            dataType: 'json',
            success: function (response) {
                $('.table-body-noti-detail').html("");
                var today = new Date();
                var count = response.length;
                // $('.table-body-noti-detail').append(`<tr><td>${response[0].Name}"sends new requisition at"${response[0].date}</td></tr>`)
                //document.getElementById("req1").innerHTML = response[0].Name + "sends a new requisition at" + response[0].date;
                //document.getElementById("reqvalue").value = response[0].reqId;
                //console.log(response[0].reqId);
                // for (const item of response) {
                //     $('.table-body-noti-detail').append(`<tr><button onclick="clickDetail(`${item.reqId}`)"><td>${item.Name} sends new requisition at ${item.date}</td></button></tr>`)
                // }
                //for (var i = 0; i < count; i++) {
                //    document.getElementById("req+" + i).innerHTML = response[i].Name + "sends a new requisition at" + response[i].date;
                //   document.getElementById("reqvalue+" + i).value = response[i].reqId;
                //  console.log(response[i]);
            }
        }
        });
    }
</script>

