@model Team7_StationeryStore.Models.Employee


@{
    Employee emp = (Employee)ViewData["Employee"];
    Departments dept = (Departments)ViewData["dept"];
}
@if (emp.Role == Role.EMPLOYEE)
{
    Layout = "~/Views/Shared/_departmentemployeehome.cshtml";
}
@if (emp.Role == Role.DEPT_HEAD)
{
    Layout = "~/Views/Shared/_departmentheadhome.cshtml";
}
@if (emp.Role == Role.DEPT_REP)
{
    Layout = "~/Views/Shared/_departmentrepresentativehome.cshtml";
}


<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/profile.css" />

</head>
<body>

    <div class="container emp-profile">
        <form method="post">
            <div class="row" style="margin-top:100px">
                <div class="col-md-6">
                    <div class="profile-img" style="margin-left:200px">
                        <img src="~/lib/img/employeeicon.jpg">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            Name:
                        </h5>
                        <h6>
                            @emp.Name
                        </h6>
                        <br />
                        <h5>
                            E-mail:
                        </h5>
                        <h6>
                            @emp.Email
                        </h6>
                        <br />
                        <h5>
                            Dept Name:
                        </h5>
                        <h6>
                            @dept.DeptName
                        </h6>
                    </div>
                </div>

            </div>

        </form>
    </div>


</body>

<script>
    function myFunction() {
        console.log("hello myfunction");
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $.ajax({
            url: "/Department/getLatestNotifications",
            method: "POST",
            dataType: 'json',
            success: function (response) {
                $('.table-body-noti-detail').html("");
                var today = new Date();
                var count = response.length;
                console.log("count is" + count);
                for (const item of response) {
                    $('.table-body-noti-detail').append(`<tr><td><button onclick="clickDetail('${item.reqId}')">${item.Name} sends new requisition at ${item.date}</button></td></tr>`)
                }
            }
        });
    }
</script>
<script>
    function clickDetail(id) {
        console.log("detail id" + id);
        $.ajax({
            url: "/Department/viewNewRequisition",
            method: "POST",
            data: { reqId: id },
            success: function () {
                window.location.href = "/Department/viewNewRequisition?reqId=" + id;
            }
        });
    }
</script>

<script>
    function clickMe() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $.ajax({
            url: "/Department/getLatestNotifications",
            method: "POST",
            dataType: 'json',
            success: function (response) {
                $('.table-body-noti-detail').html("");
                var today = new Date();
                var count = response.length;
                // $('.table-body-noti-detail').append(`<tr><td>${response[0].Name}"sends new requisition at"${response[0].date}</td></tr>`)
                //document.getElementById("req1").innerHTML = response[0].Name + "sends a new requisition at" + response[0].date;
                //document.getElementById("reqvalue").value = response[0].reqId;
                //console.log(response[0].reqId);
                // for (const item of response) {
                //     $('.table-body-noti-detail').append(`<tr><button onclick="clickDetail(`${item.reqId}`)"><td>${item.Name} sends new requisition at ${item.date}</td></button></tr>`)
                // }
                //for (var i = 0; i < count; i++) {
                //    document.getElementById("req+" + i).innerHTML = response[i].Name + "sends a new requisition at" + response[i].date;
                //   document.getElementById("reqvalue+" + i).value = response[i].reqId;
                //  console.log(response[i]);
            }
        }
            });
        }
</script>

