@using Team7_StationeryStore.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
            var lists = (List<Inventory>)ViewData["stationeryCatalgoue"];
}
<div>
    <table>
        @foreach(var c in lists)
            {
                <tr>
                    <td>@c.itemCode</td>
                    <td>@c.description</td>
                    <td>@c.ItemCategory.name</td>
                </tr>
            }
    </table>
</div>
