
@{
    ViewData["Title"] = "ViewCart";
    var lists = (List<EmployeeCart>)ViewData["employeeCarts"];
    var username = ViewData["username"];
    var userid = ViewData["userid"];
    var supplier = (Supplier)ViewData["supplier"];
}
<head>
    <title>View Cart</title>
    <link href="~/css/ViewCart.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="cartHeader">
            <form asp-controller="PurchaseOrder" asp-action="PurchaseOrder" method="POST">
                <button type="submit" id="backToItems"><i class="fas fa-arrow-left"></i> Back</button>
            </form>

            <form asp-controller="PurchaseOrder" asp-action="RaisePurchaseOrder" method="POST">
                <input type="hidden" value="@supplier.Id" name="supplier" />
                <button type="submit" id="submitPO">Create PO</button>
            </form>
        </div>

        <table class="cartTable">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in lists)
                {
                    <tr>
                        <td class="text-left">@i.Inventory.ItemCategory.name</td>
                        <td class="text-right">@i.Qty</td>
                        <td>
                            <form method="POST">
                                <button formaction="/PurchaseOrder/RemoveItem/?userid=@userid&&itemId=@i.InventoryId" class="removebtn"><i class="fas fa-minus-circle"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="cartFoot">
            <a asp-controller="PurchaseOrder" asp-action="RemoveAllItems" id="clearcart">Clear All</a>
        </div>
    </div>

</body>





