@using Team7_StationeryStore.Models;
@{
    ViewData["Title"] = "viewRequisition";
    var lists = (List<RequisitionDetail>)ViewData["requisitionDetail"];
    var username = ViewData["username"];
    var userid = ViewData["userid"];
    var reqid = ViewData["reqid"];
    var reqstatus = ViewData["reqstatus"];
    Employee emp = (Employee)ViewData["user"];
}

@if (emp.Role == Role.EMPLOYEE)
{
    Layout = "~/Views/Shared/_departmentemployeehome.cshtml";
}
@if (emp.Role == Role.DEPT_REP)
{
    Layout = "~/Views/Shared/_departmentrepresentativehome.cshtml";
}

<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<h2 style="text-align:center;padding-top:20px">Your Requisition Detail</h2>
<br />
<br />

<div class="container">
    <div align=center>
        <div>
            <h5 style="text-align:left;float:left;text-emphasis-color:blue">
                Requistion Form ID:
                @reqid

            </h5>
            <h5 style="text-align:right;float:right;text-emphasis-color:blue">
                Status:
                @reqstatus
            </h5>

        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Descripion</th>
                        <th>Quantity</th>

                    </tr>
                </thead>

                <tbody>

                    @foreach (var i in lists)
                    {
                        <tr>

                            <td class="text-center">@i.Inventory.itemCode</td>
                            <td class="text-left">@i.Inventory.ItemCategory.name</td>
                            <td class="text-right">@i.RequestedQty</td>

                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>




