@using Team7_StationeryStore.Models;
@model SharedViewModel;

@{
    ViewData["Title"] = "_departmentemployeehome";
    bool isAuthorized = (Boolean)ViewData["Authorizer"];

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
</head>
<body>

    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logic Stationery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @if (isAuthorized)
                {
                    <li class="nav-item" style="margin-left:50px">
                        <a class="nav-link" href="@Url.Action("viewDepartmentRequisition", "Department")"><i class="fas fa-desktop"><span> DEPARTMENT REQUISITIONS</span></i></a>

                    </li>
                }


                <li class="nav-item" style="margin-left:50px">
                    <a class="nav-link" href="@Url.Action("delegateAuthority", "Department")"><i class="fas fa-table"><span> DELEGATE APPROVAL</span></i></a>

                </li>

                <li class="nav-item" style="margin-left:250px">
                    <a class="nav-link" href="@Url.Action("Logout", "Home")"><i class="fas fa-table"><span>  LOGOUT</span></i></a>

                </li>
            </ul>
            
        </div>
    </nav>


    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


</body>
</html>

