<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team7_StationeryStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--
    <header>
        <ul>
            <li class="logo">Logic <span>Stationery</span></li>
            <li> <button class="menubtn" href="#home"> Menu</button></li>
            <li> <button class="menubtn" href="#inventory">Inventory</li>
            <li> <button class="menubtn" href="#requisitions">Requisitions</button></li>
            <li><p class="userdetails">Adam Smith</p> <img src="employeeicon.jpg"> </li>
        </ul>
    </header>-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Team7_StationeryStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
