@using Team7_StationeryStore.Models;
@model SharedViewModel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
</head>
<body>
    <header>
        <ul>
            <li class="logo">Logic <span>Stationery</span></li>
            <li> <button class="menubtn" href="#home"> Menu</button></li>
            <li>
                <form asp-controller="StationeryStore" asp-action="ViewInventory" method="POST">
                    <input type="submit" value="Inventory" class="menubtn" />
                </form>
            </li>
            <li>
                <form asp-controller="PurchaseOrder" asp-action="ViewAllPurchaseOrders" method="POST">
                    <input type="submit" value="Purchase Orders" class="menubtn" />
                </form>
            </li>
            <li>
                <p class="userdetails"</p>
                <img src="~/lib/img/employeeicon.jpg" />
            </li>
        </ul>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>


men