@using Team7_StationeryStore.Models;
@model SharedViewModel;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/sharedlayout.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
</head>
<body>
    <div>
        <header>
            <ul>
                <li class="logo">Logic <span>Stationery</span></li>
                <li> <button class="openbtn" onclick="openNav()"><i class="fas fa-bars" id="sidebar_btn"></i></button></li>
                <li><p class="userdetails">Adam Smith</p></li>
                <script src="~/js/site.js"></script>
            </ul>
        </header>

        <!-- Sidebar Area-->
        <div id="mySidebar" class="sidebar" onclick="closeNav()">
            <button class="closebtn"><i class="fas fa-times"></i></button>
            <form asp-controller="StationeryStore" asp-action="Home" method="POST">
                <button type="submit" id="Home">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                </button>
            </form>
            <form asp-controller="PurchaseOrder" asp-action="ViewAllPurchaseOrders" method="POST">
                <button type="submit" id="PObutton">
                    <i class="far fa-file-alt"></i>
                    <p>Purchase Orders</p>
                </button>
            </form>
            <form asp-controller="Requisition" asp-action="ViewRequisitions" method="POST">
                <button type="submit" id="Reqbutton">
                    <i class="far fa-user"></i>
                    <p>Requisitions</p>
                </button>
            </form>
            <form asp-controller="StationeryStore" asp-action="ViewInventory" method="POST">
                <button type="submit" id="Invbutton">
                    <i class="fas fa-box-open"></i>
                    <p>Inventory</p>
                </button>
            </form>
            <form asp-controller="Home" asp-action="Logout" method="Post">
                <button type="submit" class="logout_btn">Logout</button>
            </form>
        </div>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "auto";
        }

        function closeNav() {
            console.log("closing nav...")
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.margin = "auto";
        }
    </script>
</body>
</html>