<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team7_StationeryStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <ul>
            <li class="logo">Logic <span>Stationery</span></li>
            <li> <button class="menubtn" href="#inventory">Inventory</li>
            <li> <button class="menubtn" href="#requisitions">Requisitions</button></li>
            <li><p class="userdetails">Adam Smith</p> <img src="~/lib/img/employeeicon.jpg"> </li>
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 </body>
</html>
