
@{
    ViewData["Title"] = "HomeManagerSupervisor";
    Layout = "~/Views/Shared/_Department.cshtml";

}
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
    <div class="w3-container w3-center w3-animate-zoom">
        <h1>HomeManagerSupervisor</h1>
        </div>
    </body>

