
@{
    ViewData["Title"] = "Index";
}



    <head>
        <meta charset="utf=8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="~/css/viewDisbursements.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <script src="https://use.fontawesome.com/973befe495.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Index</h1>
        <p id="car-list">Testing</p>

        <script>
            console.log("Starting script....")
            var testVariable = 123;
    $.ajax({  
        type: 'POST',  
        url: '/StationeryStore/GetEmployeeTest', 
        data: { 'id': testVariable },
        dataType: "json",
        success: function(response) {
            /*console.log("Success");*/
            console.log("Testing Whole JSON");
        }
     });   
        </script>
    </body>