
@{
    ViewData["Title"] = "StartAnalytics";
}

<h1>StartAnalytics</h1>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://use.fontawesome.com/973befe495.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <input type="text" id="requestedQty"/>
    <input type="text" id="stockQty" />
    <input type="date" id="dateYouWant"/>
    <button id="submitRequest" onclick="submitReqToAn()">Go</button>

    <div id="ResultsBox">
        <h3>Result:</h3>
        <p>Based on the quantities on <span id="dateEntered"></span>, <span id="outcome"></span>.</p>
    </div>

    <script>


    function submitReqToAn() {
    var rqQty = $("#requestedQty").val();
    var newStockQty = $("#stockQty").val();
    var dateT = $("#dateYouWant").val();
    console.log("Printing:" + dateT);
    $.ajax({
        type: 'POST',
        url: '/StationeryStore/AnalyzeResults',
        data: { 'requestedQty': rqQty, 'stockQty': newStockQty, 'dateT': dateT },
        success: function (result) {
            $("#dateEntered").text(dateT);
            if (result.PredictedLabel) {
                $("#outcome").text("please restock soon.");
            }
            else if (!result.PredictedLabel) {
                $("#outcome").text("no need to restock soon.");
            }
        }
    });
        }
    </script>
</body>

