
@{
    ViewData["Title"] = "ViewAnalysis";
    var data = (List<PurchaseOrderQuantity>)ViewData["dict"];
    var category = ViewData["category"];
    var user = (Employee)ViewData["user"];

}
@if (user.Role == Role.STORE_MANAGER || user.Role == Role.STORE_SUPERVISOR)
{
    Layout = "~/Views/Shared/_StoreManagerandSupervisor.cshtml";

}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="POAnalysisResults.css">
</head>
<body>
    <div id="main">
        <h1 id="heading">Results</h1>
        <div id="chart_div" style="display: flex;justify-content: center;"></div>
    </div>

    <script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Month', '@category'],
            @foreach(var item in data)
             {
            @:['@(item.Month.ToString())', @(item.quantity)],
            }

        ]);

        var options = {
            chart: {
                title: 'Restock Trends For Item Category:@category',
                subtitle: 'For the past @data.Count months ',
            },
            bars: 'vertical', // Required for Material Bar Charts.
            vAxis: { format: 'decimal' },
            height: 400,
            width: 800,
            colors: ['#1b9e77', '#d95f02',]
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

    }
    </script>
</body>

