
@{
    ViewData["Title"] = "ViewCart";
    var lists = (List<PurchaseCart>)ViewData["purchaseCarts"];
    var username = ViewData["username"];
    var userid = ViewData["userid"];
    var supplier = (Supplier)ViewData["supplier"];
}

    <head>
        <title></title>
        <link href="~/css/ViewCart.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
<br>

<h2 style="text-align:center">Purchase Order</h2>

<div class="container">
    <div style="display:flex; justify-content:flex-end;">
        <form asp-controller="PurchaseOrder" asp-action="PurchaseOrder" method="POST" class="form-inline my-2 my-lg-0">
            <input class="btn btn btn-outline-info my-2 my-sm-0" type="submit" value="View Catalogue">
        </form>
    </div>
    <div align=center>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var i in lists)
                    {
                        <tr>
                            <td>@i.Inventory.ItemCategory.name</td>
                            <td>@i.Qty @i.Inventory.measurementUnit</td>
                            <td>
                                <form method="POST">
                                    <button formaction="/PurchaseOrder/RemoveItem/?userid=@userid&&itemId=@i.InventoryId" class="btn btn-secondary">Remove</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="btn_align">
                <form asp-controller="PurchaseOrder" asp-action="RaisePurchaseOrder" method="POST" class="form-inline my-2 my-lg-0">
                    <input type="hidden" value="@supplier.Id" name="supplier" />
                    <input class="btn btn-outline-success btn-sm" type="submit" value="Submit Purchase Order">
                </form>
                <a class="btn btn-outline-danger btn-sm" asp-controller="PurchaseOrder" asp-action="RemoveAllItems">Cancel</a>
            </div>
        </div>
    </div>
</div>



