
@{
    ViewData["Title"] = "viewAllRequisitionsFromStationery";
    var lists = (List<Requisition>)ViewData["requisitions"];
}

<h5>viewAllRequisitionsFromStationery</h5>


<div>
    <table class="requisitiontable">
        <tr>
            <td> </td>
            <td>Req ID</td>
            <td>Req Date</td>
            <td>Status</td>
            <td>Details</td>
        </tr>
        @foreach (var c in lists)
        {
            <tr>
                <td></td>
                <td>@c.Id</td>
                <td>@c.DateSubmitted</td>
                <td>@c.status</td>
                <td>
                    <form method="POST">
                        <button value="View" formaction="/Requisition/?requisitionId=@c.Id" >Details</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
