/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.purchaseContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.scroll_item {
    height:80px;
    overflow:auto;
}
.pElement1{
    width:50%;
}
.btn_align {
    display: flex;
    justify-content: flex-end;
}
.btn_align > form{
    margin-right:5%;
}

.btn-container{
    display:flex;
    flex-direction:row;
}

.notification {
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
    }
#myDIV {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    display:none;
    position:absolute;
}

    #myDIV div {
        width: 80%;
        height: fit-content;
        padding: 5%;
        border-bottom: 1px solid;
    }
.poDetail {
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    color: #003e19;
    text-align: center;
}

#backPo {
    float: right;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    background: none;
    border: none;
    color: #028090;
    letter-spacing: 1px;
    margin-bottom: 20px;
    display: inline-block;
}

    #backPo:hover {
        background: #8fc089;
        color: white;
    }
.podetailtable {
    width: 100%;
    padding: 15px;
    font-size: 11px;
    border-collapse: collapse;
    background: white;
}

    .podetailtable th {
        border-top: 2px solid #ddd;
        padding: 20px 10px;
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: #028c6A;
    }

    .podetailtable td {
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
.vounchertable {
    width: 100%;
    padding: 15px;
    font-size: 11px;
    border-collapse: collapse;
    background: white;
}

    .vounchertable th {
        border-top: 2px solid #ddd;
        padding: 20px 10px;
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: #028c6A;
        text-align:center;
    }

    .vounchertable td {
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

#main {
    width: 60%;
    margin: auto;
}