

body {
    font-family: 'Roboto', sans-serif;
    background-color: white !important;
    height: 100%;
    background: linear-gradient(180deg, #77bfe2 60%, white 40%);
    margin: 0;
    background-repeat: no-repeat;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main {
    width: 700px;
    margin: auto;
}

table.steelBlueCols {
    font-family: 'Roboto', sans-serif;
    border: 0px solid #DFDCE3;
    background-color: #DFDCE3;
    width: 700px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    z-index: 200;
    margin-top: 20px;
}

    table.steelBlueCols td, table.steelBlueCols th {
        border: 1px solid #DDDDDD;
        padding: 10px 0px;
        font-size: 15px;
    }

    table.steelBlueCols tbody td {
        font-size: 12px;
        color: #000000;
    }

    table.steelBlueCols tr:nth-child(even) {
        background: #DFDCE3;
    }

    table.steelBlueCols td:nth-child(even) {
        background: #DFDCE3;
    }

    table.steelBlueCols thead {
        background: #DFDCE3;
        border-bottom: 2px solid grey;
        padding: 8px;
    }

        table.steelBlueCols thead th {
            font-size: 15px;
            color: #3B988A;
            text-align: center;
            border-left: 0px solid #398AA4;
            font-weight: 600;
        }

            table.steelBlueCols thead th:first-child {
                border-left: none;
            }

    table.steelBlueCols tfoot td {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }

    table.steelBlueCols tfoot .links {
        text-align: center;
    }

        table.steelBlueCols tfoot .links a {
            display: inline-block;
            background: #FFFFFF;
            color: #398AA4;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 5px;
        }

.btnCart {
    font-size: 10px;
    padding: 5px;
    margin: auto;
    height: 25px;
    border: none;

}

.ViewCartBtn {
    float: right;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    background: none;
    border: none;
    color: white;
}

    .ViewCartBtn:hover {
        background: #FC4a1a;
    }

#backToSuppl {
    border: none;
    background: none;
    font-size: 11px;
    font-weight: 400;
    padding: 10px;
    color: #192841;
    margin-bottom: 15px;
}

    #backToSuppl:hover {
        background: #f2d468;
    }

.bg-modal {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 800px;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#close {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    background: none;
    border: none;
    font-size: 16px;
    width: 60px;
    display:block;
    color: #9c9c9c;
}

.modal-contents {
    height: 250px;
    width: 500px;
    top: 200;
    background-color: white;
    position: absolute;
    border-radius: 4px;
}

.modal-header {
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    float: left;
    color: #36498f;
    letter-spacing: 1px;
}

.modal-body {
    width: 200px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #36498f;
}

    .modal-body input {
        width: 50px;
        height: 30px;
        font-size: 12px;
        border: none;
        border-bottom: 1px solid grey;
        text-align: center;
        padding-left: 8px;
    }

#units {
    font-size: 14px;
}

.modal-body p {
    font-size: 11px;
}

#submitQty {
    margin: auto;
    margin-top: 8px;
    margin-left: 10px;
    border: none;
    background: none;
    padding: 5px;
    font-size: 12px;
}

    #submitQty:hover {
        color: orange;
    }

#myModalLabel {
    color: orange;
    font-weight: 600;
    font-style: italic;
}
