

/*Login Page CSS*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f3f3f3 !important;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.homecontainer {
    position: relative;
    width: 650px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background: url('~/lib/img/loginbg.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 10px 10px #888888;
}

.logocontainer {
    float: left;
    width: 40%;
    margin-left: 10px;
    margin-top: 20%;
    padding-left: 30px;
    font-size: 11px;
    font-family: Arial, Helvetica;
    color: #1F4D89;
    text-align: center;
}

    .logocontainer p {
        font-size: 8px;
        color: black;
    }

    .logocontainer h1{
        font-size: 16px;
        text-align: center;
    }

    .logocontainer img {
        width: 30%;
    }

.logincontainer {
    float: right;
    height: 100%;
    margin-top: 16%;
    width: 30%;
    margin-right: 8%;
}

    .logincontainer h5 {
        color: #1F4D89;
        padding: 10px 0px;
        font-size: 12px;
        font-family: Arial, Helvetica;
    }


    .logincontainer input[type=text] {
        border: 1px solid gray;
        padding: 6px 10px;
        margin-bottom: 4px;
        width: 100%;
        font-size: 10px;
        height: 30px;
        text-decoration: none;
        cursor: pointer;
        box-sizing: border-box;
    }
    .logincontainer input[type=password] {
        border: 1px solid gray;
        padding: 6px 10px;
        margin-bottom: 4px;
        width: 100%;
        font-size: 10px;
        height: 30px;
        text-decoration: none;
        cursor: pointer;
        box-sizing: border-box;
    }

    .logincontainer input[type=submit] {
        background-color: #5080FB;
        border: none;
        color: white;
        margin-top: 20px;
        padding: 6px 10px;
        font-size: 11px;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
    }
