
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black !important;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




header {
    z-index: 1;
    background: white;
    height: 60px;
    padding-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    color: #1e459c;
    width: 200px;
    height: 60px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    display: inline-block;
    float: left;
}

    .logo span {
        color: #4877bd;
    }

header ul {
    list-style-type: none;
}

/* The button used to open the sidebar */
header .menubtn {
    font-size: 15px;
    position: relative;
    cursor: pointer;
    background: white;
    color: rgb(31,77,137);
    float: left;
    text-align: center;
    display: inline-block;
    border: none;
    width: 150px;
    height: 55px;
    font-weight: 700;
    padding-left: 10px;
}

    header .menubtn:hover {
        color: #4877bd;
        border: none;
    }

header .userdetails {
    display: inline-block;
    float: right;
    width: 150px;
    text-align: center;
    border-left-style: solid;
    border-left-color: grey;
    font-size: 15px;
    margin: 15px 15px;
    color: rgb(31,77,137);
    font-weight: 700;
}

header img {
    display: inline-block;
    float: right;
    margin-top: 5px;
    max-width: 40px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3 !important;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}

.requisitionfilter form {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border: none;
}

.requisitionfilter fieldset {
    width: 80%;
    border: none;
}

.requisitionfilter input, label {
    display: block;
}

    .requisitionfilter input[type=submit] {
        width: 100px;
        border-radius: 8px;
        font-size: 10px;
        padding: 5px;
        text-align: center;
        border: none;
        background: #0B87A6;
        color: white;
        margin-left: 30px;
        margin-top: 35px;
    }

.requisitionfilter label {
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: rgb(31,77,137);
    margin-top: 15px;
}

.requisitionfilter select, input[type=date] {
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    width: 200px;
}

.requisitioncontainer {
    background: white;
    min-height: 100px;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
}

    .requisitioncontainer h1 {
        font-size: 16px;
        color: #a9a9a9;
    }

.requisitiontable {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 11px;
    border-collapse: collapse;
}

    .requisitiontable th {
        border-top: 2px solid #ddd;
        padding: 20px 10px;
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: rgb(31,77,137);
    }

    .requisitiontable td {
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 8px;
    }

    .requisitiontable button {
        font-size: 10px;
        border: none;
        padding: 5px 10px;
    }

#genretrieval {
    float: right;
    font-size: 11px;
    margin: 10px 0px;
    padding: 10px;
    background: #4877bd;
    border: none;
    color: white;
}

#myDetail {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white; /* Black*/
    -webkit-box-shadow: inset 28px -6px 45px -38px rgba(0,0,0,0.51);
    -moz-box-shadow: inset 28px -6px 45px -38px rgba(0,0,0,0.51);
    box-shadow: inset 28px -6px 45px -38px rgba(0,0,0,0.51);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border-style: black;
}

#detailclosebtn {
    float: right;
    padding-right: 10px;
    font-size: 20px;
    color: black;
}

.detailRForm {
    font-size: 12px;
    margin: auto;
    margin-top: 100px;
    border-collapse: collapse;
}

    .detailRForm h1 {
        padding: 20px;
        padding-bottom: 0;
    }

    .detailRForm tr, th, td {
        padding: 15px 10px;
    }

.editbtn {
    background: none;
    border: none;
    padding-left: 5px;
    color: grey;
}

#changeStatus {
    display: none;
}

.requisitionmenu {
    height: 80px;
    max-width: 70%;
    margin: auto;
    padding: 0;
    padding-top: 40px;
    border-bottom: 2px solid #9c9c9c;
}

    .requisitionmenu button {
        height: 40px;
        width: 100px;
        margin-left: 0;
        display: inline-block;
        border: none;
        background: none;
        font-size: 11px;
        font-weight: 700;
        color: #9c9c9c;
    }

        .requisitionmenu button:hover {
            background-color: rgb(31,77,137);
            border: none;
            color: white;
        }

        .requisitionmenu button.active {
            border-bottom: 3px solid rgb(31,77,137);
        }

#maindisbursements tr:hover {
    background-color: #f5f5f5;
}


.bg-modal {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 800px;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    height: 600px;
    width: 500px;
    background-color: white;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    border-radius: 4px;
}

input.modal-contents {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
    &:hover

{
    color: #666;
}

}

.disbTitle {
    text-align: left;
    padding: 20px;
}

.changeDisb {
    width: 300px;
    margin: auto;
    align-content: left;
    margin-bottom: 30px;
}

div.changeDisb {
    display: block;
}

label.changeDisb {
    display: block;
}

select.changeDisb {
    display: block;
}

p.changeDisb {
    display: block;
}

form.changeDisb {
    width: 100px;
    border-radius: 8px;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border: none;
    background: #0B87A6;
    color: white;
    margin-top: 35px;
}

label.changeDisb {
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: rgb(31,77,137);
    margin-top: 15px;
    text-align: left;
    margin-bottom: 5px;
}

select.changeDisb {
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    width: 200px;
    margin-left: 24px;
    margin-top: 0;
}

input[type=date].changeDisb {
    font-size: 11px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    width: 200px;
    margin-left: 24px;
    margin-top: 0;
}

.modal-contents {
    font-size: 11px;
}

.modal-table {
    margin: auto;
    height: 200px;
    width: 300px;
    overflow: auto;
    padding: 0px;
    border: 1px solid gray;
    margin-top: 30px;
}

th.modal-table {
    color: rgb(31,77,137);
    border-bottom: 1px solid gray;
}

table.modal-table {
    width: 280px;
    border-collapse: collapse;
    background: #eee;
}

input.modal-table {
    max-width: 30px;
    padding: 3px;
    float: left;
}

input[type=submit].modal-table {
    margin-right: 0px;
}
