body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


header {
    z-index: 1;
    background: white;
    height: 60px;
    padding-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 100%;
}

.logo {
    color: #1e459c;
    width: 200px;
    height: 60px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    display: inline-block;
    float: left;
}

    .logo span {
        color: #4877bd;
    }

header ul {
    list-style-type: none;
}

/* The button used to open the sidebar */
header .menubtn {
    font-size: 15px;
    position: relative;
    cursor: pointer;
    background: white;
    color: rgb(31,77,137);
    float: left;
    text-align: center;
    display: inline-block;
    border: none;
    width: 150px;
    height: 55px;
    font-weight: 700;
    padding-left: 10px;
}

    header .menubtn:hover {
        color: #4877bd;
        border: none;
    }

header .userdetails {
    display: inline-block;
    float: right;
    width: 150px;
    text-align: center;
    border-left-style: solid;
    border-left-color: grey;
    font-size: 15px;
    margin: 15px 15px;
    color: rgb(31,77,137);
    font-weight: 700;
}

header img {
    display: inline-block;
    float: right;
    margin-top: 5px;
    max-width: 40px;
}

.itemcontainer {
    background: white;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    border-left: 5px solid #8dc3a7;
    font-size: 11px;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3 !important;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 10px;
}

th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

    th:hover {
        background-color: #DFEAE2;
    }

.requestdetail {
    visibility: collapse;
}

h1 {
    border-style: solid;
}

h2 {
    border-style: solid;
}

.itemheader {
    border: 1px solid black;
    margin-bottom: 10px;
}

    .itemheader p {
        width: 100px;
    }

.departmentOverview:hover {
    background-color: #DFEAE2;
}
