body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3 !important;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.itemcontainer {
    background: white;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    border-left: 5px solid #3792cb;
    font-size: 12px;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3 !important;
}


.requestdetail {
    visibility: collapse;
    font-size: 10px;
    text-decoration-style: italic;
}

    .requestdetail input {
        font-size: 10px;
        width: 60px;
        text-align: center;
    }

.itemheader {
    margin-bottom: 10px;
    width: 200px;
}

.departmentOverview:hover {
    background-color: #D8D5D2;
}

.departmentOverview {
    text-align: center;
}

table.itemtable {
    width: 555px;
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
    text-align: center;
}

.itemtable th {
    padding: 10px;
    color: #003d7a;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
}

.itemtable td {
    padding: 10px;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
}

.itemname {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    width: 90px;
    padding: 5px;
    color: #0076BE;
}

.totalqty {
    display: inline-block;
    font-size: 17px;
    color: #1c9599;
    text-align: center;
    width: 50px;
}

.departmentName {
    font-weight: 600;
}

.requestedQty {
    font-style: italic;
}

#newQty {
    display: none;
    margin: auto;
    border: none;
    border-bottom: 1px solid grey;
    width: 30px;
}

#newQtySub {
    display: none;
    margin: 2px;
    background: none;
    border: none;
    width: 20px;
    color: grey;
}

    #newQtySub:hover {
        color: red;
    }

#originalQty {
    padding: 2px;
}

#genretrieval {
    float: right;
    font-size: 11px;
    margin: 10px 0px;
    padding: 10px;
    background: #4877bd;
    border: none;
    color: white;
}
